
<aside class="sidebar">

<h3>MENU COLMEIA</h3>
<div class="side-group">
<strong>ARQUIVOS</strong>
<a class="side-link" href="https://drive.google.com/drive/folders/1LD7LkqM2orkw41fBdG7HoO_fRZo9PnDs?usp=drive_link" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Colmeia</a><br><br>
<a class="side-link" href="https://drive.google.com/drive/folders/1uvroecX7ygJkmLF-G5KabXPqd7By4FnH?usp=drive_link" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">PLabs</a>
</div><br><br>

<h3>MENU ATÍPICOS</h3>
<div class="side-group">
<strong>PLATAFORMAS</strong>
<a class="side-link" href="https://studio.youtube.com/channel/UCRW72C8GafilJKJT2_uwyYQ" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">YouTube Studio CPUJ</a><br><br>
<a class="side-link" href="https://distrokid.com/mymusic/" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">DistroKid</a><br><br>
<a class="side-link" href="https://artists.spotify.com/c/artist/3FK5K61E0y4ecezcntU4Rw/home" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Spotify</a><br><br>
<a class="side-link" href="https://www.instagram.com/atipicos_banda/" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Instagram Atípicos</a>
</div><br><br>

<div class="side-group">
<strong>DRIVE</strong>
<a class="side-link" href="https://drive.google.com/drive/folders/1eUoEYSrYSTnekyOn4EApjVtmoSlx07-Q?usp=drive_link" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Atípicos</a><br><br>
<a class="side-link" href="https://drive.google.com/drive/folders/1BX5j7J2s3XN31GKFB9pcsUlCOErfKt-a?usp=drive_link" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Edital PROCCC</a>            
</div><br><br>
  
<div class="side-group">
<strong>EDITAIS EM ABERTO</strong>
<a class="side-link" href="https://www.secult.rn.gov.br/postagem/programa-camara-cascudo/" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">PROCCC</a>
</div>

</aside>
