
<aside class="sidebar">

<h3>MENU COLMEIA</h3>
<div class="side-group">
<strong>GOOGLE DRIVE</strong>
<a class="side-link" href="https://drive.google.com/drive/folders/1k_vZ2hpWxqxq34Oq5mq3Pd7sw4xbWQY2?usp=sharing" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Colmeia Docs</a><br><br>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Pasta 2</a>
</div><br><br>

<h3>MENU IRIS</h3>
<div class="side-group">
<strong>PLATAFORMAS</strong>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Link 1</a><br><br>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Link 2</a>
</div><br><br>

<div class="side-group">
<strong>ONE DRIVE</strong>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Pasta 1</a><br><br>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Pasta 2</a>
</div><br><br>
  
<div class="side-group">
<strong>EDITAIS EM ABERTO</strong>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Link 1</a><br><br>
<a class="side-link" href="#" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color:inherit; cursor:pointer;">Link 2</a>
</div>

</aside>
